__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
fastapi_env/
venv/
ENV/
build/
dist/
*.egg-info/
# Ignore IDE specific files
.idea/
.vscode/
# Ignore OS specific files
.DS_Store
Thumbs.db
# Ignore log files
*.log
# Ignore database files
*.sqlite3
# Ignore test files
tests/
# Ignore coverage files
.coverage
htmlcov/
learning_project/Presenting_model_as_API/Titanic_train.csv
learning_project/Presenting_model_as_API/insurance.csv
learning_project/Presenting_model_as_API/fastapi_ml_model.ipynb